.toaster {
       margin-right: -500px;
       transition: var(--transition);
       left: initial !important; /* There is a problem that the toaster appears in the responsive mode */
}
.toaster .MuiPaper-root {
       background: #fdf0d5;
       color: var(--main-color);
} 

.toaster_active {
       margin-right: 0px;
}

#products .card {
       border-radius: 20px;
       border: 1px solid #0001;
       box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

       /* part Sale */
       #products .card .sale {
              top: 10px;
              left: 10px;
              padding: 3px 10px;
              font-size: 13px;
              border-radius: 5px;
              color: var(--primary-color);
              background: var(--red-bg );
       }

       /* part Photo */
       #products .card .photo {
              height: 350px;
              width: 100%;
       }

       #products .card .photo img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              transition: var(--transition);
       }

       #products .card:hover .photo img {
              transform: scale(1.1);
       }

       /* part Footer */
       #products .card .footer {
              height: 140px;
              padding: 20px 15px;
       }

       #products .card .footer .details {
              max-width: 80%;
       }

       #products .card .footer .details h3 {
              max-height: 43px;
              margin-top: 20px;
              padding-right: 15px;
              font-weight: 500;
              font-size: 15px;
              color: var(--main-color);
       }

       #products .card .footer .details .price {
              margin-block: 5px;
              font-size: 25px;
              font-weight: bold;
              color: var(--main-color);
       }

       #products .card .footer .details .price .sale-price {
              margin-left: 7px;
              font-size: 15px;
              font-weight: 400;
              color: #999;
              text-decoration: line-through;
       }

       #products .card .footer .details .rate {
              margin-bottom: 20px;
              color: gold;
       }

       #products .card .footer button.icon {
              padding: 10px;
              border-radius: 5px;
              color: var(--primary-color);
              background: var(--main-color);
       }
