#resetPasswordUser {
       height: 85.6vh;
       padding: 10px 20px;
}       
       #resetPasswordUser .title h2 {
              font-size: 40px;
              font-weight: 500;
       }

       #resetPasswordUser .title p {
              color: #333;
       }

       #resetPasswordUser .title p a {
              color: rgb(131, 131, 230);
              text-decoration: 1px underline rgb(131, 131, 230);
       }

       #resetPasswordUser .inputs-form {
              width: 100%;
       }

       #resetPasswordUser .input {
              width: 100%;
              margin: 40px 0px;
              padding: 10px;
              position: relative;
              border-radius: 10px;
              background: #fff;
              border: 1px solid #00000021;
       }

       #resetPasswordUser .input label {
              font-size: 14px;
              color: #999;
       }

       #resetPasswordUser .input input {
              padding: 3px 0px;
              width: 100%;
              background: transparent;
              outline: none;
       }


       /* Errors Validation part */
       #resetPasswordUser .errors-validation li {
              font-size: 14px;
              color: #fd6868;
              cursor: pointer;
       }  
       #resetPasswordUser .errors-validation li label {
              cursor: pointer;
       }     

       /* Footer */
       #resetPasswordUser .footer p {
              color: #444;
       }

       #resetPasswordUser .footer p svg {
              height: 30px;
              width: 30px;
              padding: 6px;
              background: #e4e3e3;
              border-radius: 50%;
       }

       #resetPasswordUser .footer p a {
              color: rgb(131, 131, 230);
       }

       #resetPasswordUser .footer .buttons button {
              padding: 10px 20px;
              /* margin-left: 15px; */
              border-radius: 50px;
              color: rgb(131, 131, 230);
              font-weight: 500;
       }

       #resetPasswordUser .footer .buttons button + button {
              background: #eee;
       }

